.footer {
  margin: 92 auto 0 auto;
  position: relative;
  display: flex;
  z-index: 1;
  text-align: center;
  padding: 0 48px;
}

.footer__content {
  width: 1184px;
  height: 740px;
  margin: auto;
  background-image: url(../images/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__content:hover {
  background: #2a2c2f;
  opacity: 0.3;
}

.footer__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 243px;
}

.footer__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
}

.footer__address {
  margin: 0;
}

.footer__button {
  background: #0278fe;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  margin: 0 auto;
}

.footer__button:hover {
  background: #0063d2;
}
@media screen and (max-width: 1100px) {
  .footer {
    max-width: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100vw;
    font-family: "Inter", Arial, sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
