.header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
  max-height: fit-content;
}

.header__logo {
  display: block;
  height: 70px;
  width: 270px;
  padding-top: 34px;
  margin: 0 auto;
  padding-bottom: 90px;
}
