.header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
  max-height: fit-content;
}

.header__logo {
  display: block;
  height: 70px;
  width: 270px;
  padding-top: 34px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.header__title {
  max-width: 793px;
  max-height: 200px;
  width: 100%;
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
  display: block;
}

.header__subtitle {
  display: block;
  max-width: 720px;
  max-height: 72px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 64px;
  padding-top: 32px;
}

.header__photo {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 0;
  }

  .header__padding {
    padding: 0 24px;
  }

  .header__title {
    max-width: 720px;
    max-height: fit-content;
  }

  .header__subtitle {
    max-width: 720px;
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0;
  }

  .header__padding {
    padding: 0 16px;
  }

  .header__title {
    max-width: 288px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
  }

  .header__subtitle {
    max-width: 288px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    padding-bottom: 40px;
  }
}
