.page {
  background: #2a2c2f;
  color: #ffffff;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 48px;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .page {
    padding: 0;
  }
}
