.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  padding-bottom: 80px;
  width: 100%;
  max-width: 100%;
}

.place__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: title;
  margin: 0;
  max-width: 100%;
}

.place__artist {
  grid-area: artist;
  max-width: max-content;
  max-height: max-content;
  align-self: end;
}

.place__label {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  margin: 0;
  color: #aaaaaa;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.place__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.place__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: text;
}

.place__content {
  margin-top: 0;
  margin-bottom: 25px;
}

.place__content:last-of-type {
  margin: 0;
}

.place__image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  grid-area: image;
}

.place__button {
  grid-area: button;
  background: #0278fe;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: max-content;
  height: max-content;
  padding: 12px 20px;
  margin: 0 auto;
}

.place__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 1100px) {
  .place {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 340px;
    gap: 48px 28px;
    max-width: 720px;
    padding-left: 0;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding: 0 24px;
  }

  .place__artist {
    padding: 0 24px;
  }

  .place__label {
    padding: 0 24px;
  }

  .place__name {
    padding: 0 24px;
  }

  .place__description {
    padding: 0 24px;
  }

  .place__image {
    padding-left: 24px;
    width: auto;
  }

  .place__padding {
    padding: 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
    gap: 30px;
    max-width: 100%;
  }

  .place__title {
    padding: 0 16px;
  }
  .place__image {
    padding-left: 0;
  }

  .place__artist {
    padding: 0 16px;
  }

  .place__label {
    padding: 0 16px;
  }

  .place__name {
    padding: 0 16px;
  }

  .place__description {
    padding: 0 16px;
  }
}
