.places {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 24px 0 24px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 400px) {
  .places {
    padding: 62px 0 0 0;
  }
}
